.inline-link {
  text-decoration: underline;
  color:rgb(18, 50, 90);
}

#venmo {
  margin-top: 30px;
  max-height: 164px;
}

.venmo-text {
  width: 75%;
}

.venmo-container {
  display: flex;
}

.heading {
  color: var(--dark-blue-text);
}

.faqs {
  margin: 3% 10%;
}

.text-align {
  text-align: center;
}