.subtitle, h1 {
  color: rgb(35, 101, 183);
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.inline-link {
  text-decoration: underline;
  color:rgb(18, 50, 90);
}

.answer {
  color: rgb(18, 101, 48);
  padding-left: 2rem;
  padding-right: 2rem;
}

.news {
  margin: 2rem 4rem;
}

#venmo {
  margin-top: 30px;
  max-height: 164px;
}

.venmo-text {
  width: 75%;
}

.venmo-container {
  display: flex;
}