.inline-link {
  text-decoration: underline;
  color:rgb(18, 50, 90);
}

#venmo {
  margin-top: 30px;
  max-height: 164px;
}

.venmo-text {
  width: 75%;
}

.venmo-container {
  display: flex;
}

.heading {
  color: var(--dark-blue-text);
}

.faqs {
  margin: 2% 20%;
  background-color: var(--background-color-shade);
  padding: 20px;
  border-radius: 10px;
}

.text-align {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .faqs {
    margin: 2% 10%;
  }
}