.navbar {
  display: flex;
  align-items: center;
  background: var(--nav-background);
  height: 65px;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 80px;
  width: 58%;
  min-width: 450px;
}

.center-fill {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
}

.nav-item {
  font-weight: 700;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
}

.nav-item-color {
  color: var(--navigation);
}

.nav-item-color-focus {
  color: var(--navigation-focus);
}

.nav-item-home {
  color: var(--navigation);
  font-weight: 700;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
}

.nav-item-div {
  overflow: hidden;
  line-height: 65px;
  height: 65px;
  white-space: pre;
}

.nav-home {
  overflow: hidden;
  line-height: 65px;
  height: 65px;
  white-space: pre;
  min-width: 80px;
}

.nav-item:hover {
  background: var(--navigation-hover);
}

.nav-item-home:hover {
  background: var(--navigation-hover);
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.navbar-menu svg {
  cursor: pointer;
  margin-right: 15px;
  color: var(--navigation);
}

.navbar-menu-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  background-color: var(--color-footer);
  padding: 1rem 1.5rem;
  position: absolute;
  top: 35px;
  right: 5px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 10px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbar-menu-container p {
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }

  .nav-item {
    min-width: 150px;
    display: block;
  }

  .navbar-menu-container p {
    margin: 0;
  }
}