@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --color-background: #bbf0bb;
  --nav-background: #000;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --dark-blue-text: #03376c;
  --link-text: #176bbf;
  --link-text-light: #6ba5de;
  --light-gray: #9fb4ca;
}