@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --color-background: #c6ffc6;
  --nav-background: #082c51;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --dark-blue-text: #09325a;
  --link-text: #1163b5;
  --link-text-light: #508fcd;
  --light-gray: #9fb4ca;
  --navigation: #b3c5c9;
  --navigation-hover: #5b6567;
  --navigation-focus: #9bc23b;
}